/*
menu.css
*/

nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	float: left;
	display: block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 16px;
}
nav ul li a {
	text-decoration: none;
	color: #FFF;
}
nav ul li:hover {
	background-color: rgb(242,242,242);
}
nav ul li:hover a {
	display: block;
	color: #000;
}