.user-title {
    text-align: center;
}
.board-game {
    margin-left: 28%;
}
.table-align {
    margin-left: 30px;
    padding: 10px;
}
.text-center {
    text-align: center;
    text-shadow: 100px;
}
