#game-container {
    /* max-width: 800px; */
    margin: 0;
    overflow-x: hidden;
}
#game-container .col-auto {
    padding: 0;
    margin-left: 15px;
}
#board {
    margin-top: 15px;
}
/* col breakpoint - 576px and larger */
@media only screen and (min-width: 576px) {
    #puzzle-select {
        display: none;
    }
    #puzzle-list {
        display: inline-block;
    }
    #game-container .col-auto {
        margin-left: auto;
        margin-right: auto;
    }
}
