body {
    margin: 0;
}

h2,
h3 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    margin-top: 20px;
}

h6 {
    font-weight: 400;
    text-align: left;
}

.row {
    margin: 0;
    width: 100%;
}

.about-section,
.our-team-section {
    text-align: center;
}

.about-section {
    padding-bottom: 30px;
    padding-top: 0px;
    background-color: #1f1f1f;
    color: white;
}

.about-section .col-sm-1,
.about-section .col-sm-4,
.about-section .col-sm-5 {
    padding: 0px;
}

.our-team-section {
    padding-top: 20px;
    padding-bottom: 10px;
}

.our-team-section .col-sm-4 {
    top: -20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.col-sm-4 img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    margin-bottom: 5px;
}
