<div class="row about-section">
    <div class="col-sm-12"><h1 class="shadow-3d">Our Team</h1></div>
    <div class="col-sm-12 our-team-section">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let staff of staffMembers" class="member">
                <div style="margin-right: auto; margin-left: auto">
                    <img src="{{ staff.url }}" alt="staff image" />
                </div>
                <h4 class="name shadow-3d">{{ staff.name }}</h4>
                <h5 class="desc">{{ staff.title }}</h5>
                <p class="bio">{{ staff.bio }}</p>
                <p>
                    lichess.org ::
                    <a
                        href="https://lichess.org/@/{{ staff.lichess }}"
                        target="_blank"
                    >
                        @{{ staff.lichess }}
                    </a>
                </p>
                <p>
                    discord ::
                    <a href="{{ staff.discordLink }}" target="_blank">
                        @{{ staff.discord }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="mission-card">
                <h3 class="shadow-3d">Our Mission</h3>
                <p>
                    The goal of Chess Trainer Hub is to help players of all
                    levels improve their chess skills through pattern
                    recognition, repetition and challenging puzzles via an
                    interactive chess board.
                </p>
                <h3 class="shadow-3d">How It Works</h3>
                <p>
                    Chess Trainer Hub is built around lessons and practice
                    scenarios. Players will be able to learn the concepts and
                    material and then proceed to play those scenarios out in the
                    interface.
                </p>
                <p>
                    This will help to learn and understand the main idea, but be
                    able to see the position played out in multiple scenarios.
                </p>
                <p>
                    Understanding the theory is one thing, but being able to
                    identify and execute the winning plan is how you improve.
                </p>
            </div>
            <div class="mission-card">
                <h3 class="shadow-3d">Feedback</h3>
                <div>
                    <p>
                        The Hub is in a state of continuous optimization. We’re
                        always looking for feedback from users.
                    </p>
                    <ul>
                        <li>
                            Are there specific lessons you’d like to see
                            covered?
                        </li>
                        <li>
                            Is there a specific feature you’d like to see added
                            to the Hub?
                        </li>
                        <li>
                            Is there a bug that is interfering with your ability
                            to complete a lesson or puzzle?
                        </li>
                    </ul>
                    <p>Email us, we appreciate your help!</p>
                </div>
                <h3 class="shadow-3d">Contact Us</h3>
                <p style="text-align: center">
                    <a href="mailto:nickgroh5375@gmail.com">
                        Email our marketing guy, Nick!
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
