/*
	style.css
	Camden I. Wagner
	5/11/2016
*/

body {
	background:url('img/BAckGrey.png') center no-repeat;
	background-size: cover;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    height: 100%;
	margin: 0px;
}

#nav {
	margin-left: 10px;
}

#cover {
    text-align: center;
    
    align-items: center;
}

#game {
	width: 100%;
}

/*#game_data {
	margin-left: 30px;
	margin-top: 200px;
	width: 100px;
	height: 200px;
	background-color: #939393;
}*/

#controls {
	margin-left: 10px;
}
#controls a {
	color: cyan;
}
