/*
style.css
*/

* {
	margin: 0px;
	text-decoration: none;
	font-family: "Lucida Console", Monaco, monospace;
}

body {
	margin:0;
	padding:0;
	background-color: rgb(40,40,40);
}

header, footer {
	width:100%;
	height:40px;
	background-color: rgb(13,13,13);
}

footer {
	position:fixed;
	left:0px;
	bottom:0px;
}

nav {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

nav #unordered_list_left {
	margin: 0px;
	padding: 0px;
	float: left;
}

nav #unordered_list_right {
	margin: 0px;
	padding: 0px;
	float: right;
}

nav #unordered_list_right li {
	list-style: none;
	float: left;
	padding: 12px;
}

nav #unordered_list_right li a {
	color: rgb(200,200,200);
	font-size: 16px;
}

nav #unordered_list_right li a:hover {
	color: #FFF;
}

#copyright_tag {
	margin-top:4px;
	font-size: 12px;
	color: rgb(200,200,200);
}

#content {
	height: 600px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding: 50px;
	color: rgb(200,200,200);
}

form #username, #password, #email, #name, #confirm_password {
	width: 300px;
	font-size: 16px;
	padding: 5px;
	margin: 5px;
}

form #login_button, #register_button {
	width: 200px;
	font-size: 20px;
	padding: 5px;
	margin: 10px;
	margin-left: 60px;
}

#footer_nav {
	margin-top: 12px;
}

.red_error_text {
	color:red;
}

.green_success_text {
	color:green;
}