/* Add a black background color to the top navigation */
.botnav {
    background-color: #080808;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.botnav a {
    float: right;
    display: block;
    color: #a2a2a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Hide the link that should open and close the botnav on small screens */
.botnav .icon {
    display: none;
}
