.navbar-brand {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 30px;
    color: white;
}
.navbar-brand:hover {
    color: #ff7e15;
}
.nav-link {
    font-size: 20px;
}
.button {
    transition-duration: 0.4s;
    /* slate grey w light grey scheme code */
    background-color: #33363b;

    /* Possible Dark theme */
    /* background-color: #3b3b3b; */

    /* Dark grey nav Lighter gray background Orange accent */
    /* background-color: #2b2b2b; */

    text-decoration-color: white;
}
.button:hover {
    /* slate grey w light grey scheme code */
    /* background-color: #5c626b; */

    /* Possible Dark theme */
    /* background-color: #686868; */

    /* Dark grey nav Lighter gray background Orange accent */
    background-color: #e96b04;
}

nav {
    height: 50px;
    /* slate grey w light grey scheme code */
    background-color: #33363b;

    /* Possible Dark theme */
    /* background-color: #3b3b3b; */

    /* Dark grey nav Lighter gray background Orange accent */
    /* background-color: #2b2b2b; */
}

/* .nav-disabled {
    pointer-events: none;
    opacity: 0.5;
} */

#version {
    color: gray;
}
