.navbar-logo {
    height: 25px;
    width: 25px;
    margin: 0 5px;
}
.navbar-brand {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    border-left: 1px solid #fff;
    padding-left: 15px;
    transition-duration: 0.4s;
}
.navbar-brand:hover {
    color: #ff4656;
}
.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    padding: 10px;
    margin: 0 5px;
}
.button {
    transition-duration: 0.4s;
    text-decoration-color: white;
}

.dropdown-item {
    background-color: #111111 !important;
    width: auto;
    padding: 10px 20px !important;
    margin: 0;
    text-align: center;
    font-size: 16px;
    transition: all 0.15s ease-in-out;
}

.dropdown-item:hover {
    color: #ff4656;
}

.button:hover,
.nav-link.active {
    border-color: #ff4656 !important;
}

nav {
    /* height: 80px; */
    background-color: #111111;
}

.dropdown-menu {
    background-color: #111111;
    border-radius: 0;
    border: none;
    background-clip: unset;
    padding: 20px 0 6px;
    border-bottom: 3px solid #ff4656;
    box-shadow: 0 0 8px 4px #00000024;
}

/* .nav-disabled {
    pointer-events: none;
    opacity: 0.5;
} */

#version {
    color: #6f6f6f;
    margin: 0 20px;
    font-family: Arial, monospace;
    letter-spacing: 1px;
}
