<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Complete Chess Trainer</a>
    <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active nav-disabled">
                <a class="button nav-link" href="#" style="color: white;"
                    >Home <span class="sr-only">(current)</span></a
                >
            </li> -->
        <li class="nav-item">
            <a
                routerLink="/opening-training-game"
                routerLinkActive="active"
                class="button nav-link"
                style="color: white;"
                >Opening Trainer - Evan's Gambit
            </a>
        </li>
        <!-- <li class="nav-item nav-disabled">
                <a
                    routerLink="/repertoire-builder"
                    routerLinkActive="active"
                    class="button nav-link"
                    style="color: white;"
                    >Repertoire Builder</a
                >
            </li> -->
        <!-- <li class="button nav-item dropdown nav-disabled">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="color: white;"
                >
                    Books & Studies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                        routerLink="/my-books"
                        routerLinkActive="active"
                        class="button dropdown-item"
                        style="color: white;"
                        >My Books</a
                    >
                    <a
                        routerLink="/public-books"
                        routerLinkActive="active"
                        class="button dropdown-item"
                        style="color: white;"
                        >Public Books</a
                    >
                    <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        <!-- <li class="nav-item nav-disabled">
                <a
                    routerLink="/tactics-trainer"
                    routerLinkActive="active"
                    class="button nav-link"
                    style="color: white;"
                    >Tactics Trainer</a
                >
            </li>
            <li class="nav-item nav-disabled">
                <a
                    routerLink="/account"
                    routerLinkActive="active"
                    class="button nav-link"
                    style="color: white;"
                    >Account
                </a>
            </li> -->
        <li class="nav-item">
            <a
                routerLink="/about"
                routerLinkActive="active"
                class="button nav-link"
                style="color: white;"
                >About
            </a>
        </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form> -->
    <!-- </div> -->
</nav>
