<!--app-puzzles #puzzlesComponent [_puzzles]="endgamePuzzles"></app-puzzles-->
<div id="course-cards" class="cards">
    <a href="#" class="card">
        <h2>Title</h2>
        <p>This is a very simple, yet effective description.</p>
    </a>
    <a href="#" class="card">
        <h2>Title</h2>
        <p>This is a very simple, yet effective description.</p>
    </a>
    <a href="#" class="card">
        <h2>Title</h2>
        <p>This is a very simple, yet effective description.</p>
    </a>
    <a href="#" class="card">
        <h2>Title</h2>
        <p>This is a very simple, yet effective description.</p>
    </a>
    <a href="#" class="card">
        <h2>Title</h2>
        <p>This is a very simple, yet effective description.</p>
    </a>
</div>
