
.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

input[type='radio'] {
	float: left;
	margin-top: 20px;
	margin-left: 106px;
    transform: scale(3);
}

#create_game_form {
	background-color: #707070;
	height: 100%;
	width:500px;
	margin-right: auto;
	margin-left: auto;
}

#create_game_form img {
	margin-left:40px;
}

#create_game_form h2 {
	font-size: 20px;
	margin-top:15px;
	margin-left: 50px;
}
