.bookbutton {
    margin-left: 96px;
    margin-top: 10px;
}
.setposition {
    text-indent: 130px;
    margin-top: 5px;
    font-size: 32px;
    color: #7a7a7a;
    text-shadow: #585858;
}
.img {
    margin-top: 10px;
    margin-left: 80px;
    width: 180px;
    object-fit: contain;
}
.rectangle {
    width: 350px;
    height: 400px;
    border: 1px solid #7a7a7a;
    box-shadow: 10px 10px 5px #585858;
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}
