<div>
    <p *ngIf="pgn" style="color: white;">{{ pgn }}</p>
    <div>
        <table class="table-format">
            <th>
                Moves
            </th>
            <th>
                White
            </th>
            <th>
                Black
            </th>
            <tr *ngFor="let line of getPGNArray()">
                <td>{{ line.number }}</td>
                <td>{{ line.white }}</td>
                <td>{{ line.black }}</td>
            </tr>
        </table>
    </div>
    <button class="toggle-button">
        &#60;&#60;
    </button>
    <button class="toggle-button">
        &#62;&#62;
    </button>
</div>
