#table th,
#table td {
    border: 1px solid #26272b;
    padding: 5px;
    text-align: center;
    height: 30px;
}
#table th {
    background-color: #33363b;
    color: white;
}
#table td {
    color: black;
}
#table-container {
    width: 350px;
    height: 300px;
    /* height: auto;
    max-height: 300px; */
    background-color: #60646b86;
    overflow: auto;
}
td.number {
    width: 30px;
}
td.move {
    width: 160px;
}

.toggle-button {
    font-weight: 900;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(26, 26, 26);
    color: white;
    width: 40px;
}
.th-move {
    width: 160px;
}
.th-number {
    width: 30px;
}

tr:nth-child(even) {
    background-color: rgb(211, 211, 211);
}
tr:nth-child(odd) {
    background-color: rgb(185, 185, 185);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(122, 122, 122);
}
::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(27, 27, 27);
}
