#game-details {
    margin: 20px;
    margin-top: 200px;
}

#opening-training-alert.alert-warning {
    display: none;
}
.opening-trainer-style-alert {
    height: 275px;
    width: 225px;
    margin-top: 440px;
    left: -225px;
    border-radius: 15px;
}
.quote-font-size {
    font-size: 15px;
}
