#game-details {
    margin: 10px;
    margin-top: 50px;
}

#opening-training-alert.alert-warning {
    display: none;
}
.opening-trainer-style-alert {
    max-height: 275px;
    width: 200px;
    margin-top: 440px;
    left: 50px;
    bottom: 100px;
    border-radius: 15px;
    margin-left: 0px;
}
.quote-font-size {
    font-size: 15px;
}

#board-overlay {
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
}

#standard-game-container {
    margin: 0px;
}
.board-pos {
    margin-left: 300px;
}
