#game-details {
    margin: 10px;
    margin-top: 50px;
}
#opening-training-alert.alert-warning {
    display: none;
}
#opening-trainer-alert {
    max-height: 275px;
    width: 200px;
    left: 50px;
    bottom: 100px;
    border-radius: 15px;
    margin-left: 0px;
}
.quote-font-size {
    font-size: 15px;
}

#board-overlay {
    /* margin: 0 auto; */
    margin: 0px;
    padding: 20px;
    position: absolute;
}

#standard-game-container {
    margin: 0px;
}

.break-div {
    display: none;
}

@media screen and (max-width: 1100px) and (min-width: 1082px) {
    .break-div {
        display: inline-block;
    }
}

.col-sm-8 {
    max-width: 800px;
}
