#game-details {
    margin: 20px;
    margin-top: 200px;
}

#opening-training-alert.alert-warning {
    display: none;
}
.opening-trainer-style-alert {
    max-height: 275px;
    width: 400px;
    margin-top: 440px;
    left: -225px;
    border-radius: 15px;
}
.quote-font-size {
    font-size: 15px;
}

#board-overlay {
    position: fixed;
    margin: 20px;
}

#standard-game-container {
    margin: 0px;
}
