app-footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.router-container {
    /* background: center center no-repeat url('../assets/wood_bg.jpeg'); */
    background: rgb(82, 162, 189);
}
