#standard-game-container {
    margin: 0px;
    max-height: calc(100vh - 80px);
}

#title {
    margin: 30px 0 20px 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

#board-overlay {
    /* margin: 0 auto; */
    margin: 0px;
    padding: 20px;
    position: absolute;
}

#which-color-to-play-alert {
    margin: 30px;
    padding: 18px;
    border: 0;
    border-radius: 0;
}

#which-color-to-play-alert h4 {
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

#exercise-info {
    width: 300px;
    padding: 10px 32px;
    text-align: justify;
    color: #525252;
    font-size: 16px;
}

.col-sm-2 {
    height: inherit;
    padding: 0px;
}

#puzzle-list {
    padding: 0px;
    margin: 50px 0px 0px 20px;
    list-style: none;
    background-color: white;
    max-height: 80vh;
    overflow-y: auto;
}

#puzzle-list li {
    text-align: center;
    padding: 5px;
    border: black 1px solid;
}

#puzzle-list li:not(.current-puzzle):hover {
    background-color: lightgray;
    cursor: pointer;
}

.puzzle-link {
    cursor: pointer;
    font-size: 18px;
}

.current-puzzle {
    color: white;
    background-color: black;
}

.current-puzzle:hover {
    cursor: pointer;
    background-color: rgb(41, 41, 41);
}
