<div id="standard-game-container" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <h2 id="title" *ngIf="currentTrainingSet">
                {{ currentTrainingSet.name }}
            </h2>
        </div>
        <app-board-overlay
            id="board-overlay"
            *ngIf="showBoardOverlay"
            [boardOverlayData]="boardOverlayData"
            (boardOverlayEmitter)="boardOverlayEvent($event)"
        ></app-board-overlay>
        <app-game
            #gameComponent
            id="game"
            [game]="game"
            [interfaceCommand]="interfaceCommand"
            (gameDataEmitter)="gameDataEvent($event)"
        ></app-game>
    </div>
    <div class="col-sm-2"></div>
</div>
