#standard-game-container {
    margin: 0px;
}

#title {
    margin-top: 20px;
    margin-left: 50px;
    /* margin-right: 50px; */
}

#board-overlay {
    /* margin: 0 auto; */
    margin: 0px;
    padding: 20px;
    position: absolute;
}

#which-color-to-play-alert {
    margin-left: 30px;
    height: 60px;
}

#sequence-list {
    padding: 10px;
    list-style: none;
}

#sequence-list li {
    padding: 5px;
    border: black 1px solid;
}
#sequence-list li:hover {
    background-color: gray;
}

.sequence-link {
    cursor: pointer;
    color: blue;
    font-size: 22px;
}
