#container {
    height: 640px;
    width: 640px;
    background: rgba(0, 0, 0, 0.3);
}

#popup-window .card {
    padding: 10px;
}

.spinner-border {
    float: inline-start;
    margin-right: 10px;
}

.card .btn-primary {
    color: white;
    width: fit-content;
}

#closeOverlayButton {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 0em 0.35em;
}
