<div id="container">
    <div class="row justify-content-center">
        <div class="col-sm-6" style="margin-top: 200px;">
            <div class="card text-center">
                <h5 class="card-title">title</h5>
                <div class="spinner-border text-primary" role="status">
                    <!-- lol keep this -->
                    <!-- <h5><span class="sr-only">Loading...</span>Loading...</h5> -->
                    <span class="sr-only">Loading...</span>
                </div>
                <h5>Loading...</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to
                    additional content.
                </p>
            </div>
        </div>
    </div>
</div>
