#container {
    height: 640px;
    width: 640px;
    background: rgba(0, 0, 0, 0.3);
}

#popup-window .card {
    padding: 10px;
}

.spinner-border {
    float: inline-start;
    margin-right: 10px;
}

.card .btn-primary {
    color: white;
    width: fit-content;
}
