#container {
    /* height: 640px;
    width: 640px; */
    margin: 0;
    overflow-x: hidden;
}
#container .col-auto {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#board-overlay {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
}

#popup-window .card {
    border: 0;
    box-shadow: 0px 0px 14px 5px #00000026;
    border-radius: 0;
    padding: 30px 35px 25px;
    background: #f5f5f5;
}

#popup-window .card-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#popup-window p {
    margin-bottom: 24px;
}

#popup-window .action-btn {
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    background: #0072e8;
    letter-spacing: 1px;
    padding: 10px 20px;
}

#popup-window .action-btn:hover {
    background: #0064ce;
    box-shadow: 0 0 12px 2px #5c70ff38;
}

#closeOverlayButton:active,
#closeOverlayButton:focus {
    box-shadow: none !important;
    outline: none !important;
}

.spinner-border {
    float: inline-start;
    margin-right: 10px;
}

.card .btn-primary {
    color: white;
    width: fit-content;
}

#closeOverlayButton {
    position: absolute;
    right: 6px;
    top: 4px;
    font-size: 26px;
    line-height: 1;
    background: transparent;
    color: #000;
    border: none;
}

#popup-window {
    margin-top: 50px;
}

/* col breakpoint - 576px and larger */
@media only screen and (min-width: 576px) {
    #popup-window {
        width: 80%;
    }
}

/* Laptop - 1024px and larger */
@media only screen and (min-width: 1024px) {
    #popup-window {
        margin-top: 200px;
    }
}
